In [34]:
import pandas as pd
import numpy as np
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split

In [52]:
file_2019_2 = 'Notas(2019-2).xlsx'
file_2020_1 = 'Notas(2020-1).xlsx'
# Agregar columna AI a 2020-1 para quitar quienes retiraron el curso
df_2019_2 = pd.read_excel(file_2019_2, index_col=None, na_values=['NA'], nrows=381, usecols='R,AH')
df_2020_1 = pd.read_excel(file_2020_1, index_col=None, na_values=['NA'], nrows=382, usecols='S,AH')

# Rename columns
df_2019_2.columns = ['T00', 'Final']
df_2020_1.columns = ['T00', 'Final']

# Concatenate n stuff
concatenate = [df_2019_2, df_2020_1]
df = pd.concat(concatenate).dropna()
df = df[df.Final != 'P'].apply(pd.to_numeric)
df.index = range(760)
df

      T00     Final
0    1.00  1.000000
1    4.81  4.863306
2    6.13  4.000000
3    7.20  5.576286
4    6.59  7.398635
..    ...       ...
755  1.00  1.000000
756  5.50  5.500000
757  6.70  7.000000
758  2.10  1.100000
759  4.20  3.200000

[760 rows x 2 columns]

In [54]:
train, test = train_test_split(df, test_size=0.3)
print(train['T00'])
print(train['T00'].to_numpy())

#gaussian = GaussianNB()
#gaussian.fit(train['T00'].to_numpy(), train['Final'].to_numpy())

#gaussian.predict(text['T00'])

656    5.60
634    6.20
665    6.80
512    5.50
739    5.50
       ...
88     6.92
169    1.85
126    6.51
78     5.53
105    6.84
Name: T00, Length: 532, dtype: float64
[5.6  6.2  6.8  5.5  5.5  5.8  3.6  6.59 6.3  6.7  6.92 4.09 7.04 5.78
 6.76 5.1  6.7  7.   6.43 7.2  7.   2.71 1.   5.46 6.66 6.   6.92 4.7
 7.   5.46 6.27 6.43 6.8  2.1  4.65 3.6  7.2  6.6  5.46 5.73 6.31 5.05
 4.8  6.51 7.2  6.11 6.5  4.49 6.19 6.9  7.02 6.38 6.35 6.7  5.95 6.68
 6.43 4.54 6.92 5.99 6.   6.3  6.   5.6  6.3  2.83 6.84 1.7  7.   6.56
 4.8  6.7  6.92 1.   7.2  5.1  6.1  7.   6.19 5.4  6.8  7.1  6.4  5.7
 6.5  1.6  7.   3.7  4.4  6.43 7.   6.11 6.72 7.   6.84 7.2  6.51 6.6
 6.6  3.6  6.7  6.4  5.58 7.   6.68 7.   5.46 1.   6.51 6.7  1.   4.78
 5.93 6.5  6.51 6.6  6.84 6.47 6.84 6.31 6.2  4.28 2.95 5.8  6.15 7.04
 4.4  5.73 6.3  5.9  1.   6.2  6.44 6.68 6.55 3.42 7.   1.   6.7  5.2
 5.7  5.1  1.   5.9  4.2  6.3  6.1  7.   6.7  5.97 5.8  7.   6.   5.7
 6.96 6.6  6.43 7.   7.   6.33 4.5  5.95 6.45 6.   5.78 6.23 1.9  6.5
 6.29 6.9  6.3  6.7  7.2  6.9  6.5  6.1  6.5  6.7  6.2  5.1  6.31 5.7
 4.2  5.87 2.93 4.   1.   5.6  6.8  6.84 5.1  6.5  1.   7.   5.4  6.84
 1.   6.84 2.1  5.08 5.4  4.65 7.   3.6  6.68 5.34 5.   6.5  5.59 6.2
 6.3  6.7  6.8  5.6  6.35 6.6  6.7  6.68 6.8  1.   6.59 6.1  6.7  6.5
 6.38 7.   5.6  6.8  6.29 7.12 6.49 6.92 6.5  6.3  2.78 7.12 5.   6.3
 5.3  6.5  5.6  6.68 6.06 1.   6.76 6.8  5.3  7.   5.6  5.7  4.9  6.92
 5.89 6.1  5.9  5.85 6.   6.68 7.   6.56 7.   6.84 2.54 5.87 6.8  6.01
 5.71 6.92 5.9  6.01 5.75 7.   5.42 7.   6.76 6.7  7.   6.35 6.92 1.05
 6.1  6.39 7.2  5.79 6.7  1.   5.9  7.   4.   6.58 6.27 4.2  4.31 6.45
 5.53 5.9  6.68 6.4  1.   5.1  7.04 6.84 6.15 3.3  7.2  6.2  1.   6.72
 6.7  6.3  6.6  6.1  5.2  6.84 7.   5.6  7.   5.78 1.   5.77 5.23 6.18
 6.76 5.7  6.3  1.   5.4  5.3  5.4  6.7  6.8  6.88 1.7  7.   6.35 6.8
 7.2  6.31 6.43 3.56 4.49 7.2  5.1  6.88 5.95 6.7  5.7  6.84 6.   6.56
 4.71 6.7  6.   5.65 6.59 6.9  4.72 6.6  5.3  5.8  4.85 6.9  6.59 4.81
 5.6  6.   4.49 6.7  5.6  6.19 5.9  6.7  5.2  6.7  6.6  6.13 6.1  6.4
 5.78 6.   6.2  6.6  5.89 5.8  6.92 6.9  6.1  6.2  5.44 4.5  6.7  7.
 5.05 6.3  6.8  6.3  6.5  7.2  3.8  7.   5.5  1.   3.9  5.7  7.2  6.1
 7.2  6.4  5.7  5.37 5.   6.84 6.6  6.43 7.   6.   7.12 6.54 5.3  6.51
 6.8  6.47 6.7  6.9  6.31 3.9  6.1  3.46 7.   6.38 6.27 6.11 6.2  6.84
 1.   7.   3.3  6.1  6.43 7.   7.   5.32 5.5  5.28 7.04 1.   6.5  1.
 6.31 3.9  1.   4.03 7.   6.7  6.59 4.63 7.   5.38 7.   1.   5.73 7.
 6.3  1.2  6.88 6.1  6.6  7.2  5.24 6.9  6.6  6.8  6.   5.16 5.6  6.96
 2.22 6.3  6.76 6.7  6.8  1.   1.   1.   4.3  5.69 4.32 5.93 7.   6.57
 6.01 6.92 6.88 7.   7.   5.4  5.1  5.7  5.82 6.3  4.5  1.4  7.2  6.6
 6.   5.7  6.15 7.2  7.04 4.39 6.84 5.4  5.7  5.4  1.   1.   6.35 5.6
 7.   5.18 4.8  7.   4.8  6.51 6.92 6.11 7.   6.92 1.85 6.51 5.53 6.84]